@model Lab3MVC.Models.MovieList
@{ ViewData["Title"] = "List"; }


<div class="wrap-list">

    <h1>Welcome, @Model.Users!</h1>
    <p class="lead">
        <a class="btn btn-info" asp-action="Upload" asp-route-email="@Model.Users">Upload Movie</a>
    </p>

    <table class="table">
        <tbody>
            @foreach (var item in Model.Movies)
            {
<tr>
    <td>
        <img src="@item.MovieImage.GetPreSignedURL(DateTime.Now.AddHours(1))"
             width="80"
             height="80">

    </td>
    <td>
        @item.MovieTitle
    </td>
    <td>
        <a asp-action="Details" asp-route-email="@Model.Users"
           asp-route-movieId="@item.MovieId">Details</a>
    </td>

</tr>}
        </tbody>
    </table>
</div>